body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../img/phishing-7487504_1280.png");
}

header{
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

section{
    margin: auto;
    margin-top: 20px;
    width: 75%;
    padding: 10px;
    background-color: #f2f2f2;
    color: #333;
    border: 3px solid #e5e5e5;
    border-radius: 5px;
    box-shadow: 0 0 10px #e5e5e5;
}

#row1{
    margin: auto;
    margin-top: 10px;
    width: 75%;
    padding: 10px;
    background-color: #f2f2f2;
    border: 3px solid #e5e5e5;
    border-radius: 5px;
    box-shadow: 0 0 10px #e5e5e5;
}

#center-image{
    display: block;
    width: 75%;
    margin-top: 5%;
    margin-left: 50%;
    width: 50%;
}
img{
    display: block;
    width: 200%;
    border-radius: 10%;
    box-shadow: 10px 10px 5px #888888;
    
}